.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  margin: 2% !important;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.navbar {
  margin-bottom: 5%;
}

.grid-projects {
  margin-left: 5%;
  margin-right: 5%;
}

.error {
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
